2 title.png

# This is my first project

In my first project I have learned jupyter notebook , and some important  data science tools and some lamguages used for data science

popular data science languages.
1) Python
2) R
3) sql
4) julia
5) Scala

DATA science Libraries
1) Pandas
2) Tensor Flow
3) Keras
4) Pytorch
5) Matplotlib
6) Scikit-Learn

Data science tools
 
1)Apache Spark
2)Bigml

Few examples of evaluating arithmetic expression in python

In [2]:
x= compile("2+3","<string>","eval")
eval(x)

5

In [3]:
import math
x1=compile("2+3*math.pi","<string>","eval")
eval(x1)

11.42477796076938

In [4]:
(3*4)+2

14

Convert minutes to hours

In [22]:
days = 0
hours = 0
mins = 0
time = 300
leftoverminutes = time % 1440
hours = leftoverminutes / 60
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

0 days, 5.0 hours, 0 mins.

Author: Sheik Arief Abdaly